.glitch {
  background: url("../../assets/img/bg2.jpg") center / cover no-repeat;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.glitch::before, .glitch::after, .glitch .channel {
  background: inherit;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.glitch::before {
  animation: glitch-before 3s linear infinite alternate both;
  content: "";
}

@keyframes glitch-before {
  0% {
    clip-path: polygon(0% 43.3854773231%, 100% 43.3854773231%, 100% 52.9422593452%, 0% 52.9422593452%);
    transform: translate(-5.7359396502%, 0.0552628457%);
  }
  2% {
    clip-path: polygon(0% 35.2094522122%, 100% 35.2094522122%, 100% 40.7988109801%, 0% 40.7988109801%);
    transform: translate(-2.5602098581%, -0.0953771239%);
  }
  4% {
    clip-path: polygon(0% 40.0480977313%, 100% 40.0480977313%, 100% 46.2863623621%, 0% 46.2863623621%);
    transform: translate(6.5760689686%, 0.2512393881%);
  }
  6% {
    clip-path: polygon(0% 49.6148655121%, 100% 49.6148655121%, 100% 51.0905995414%, 0% 51.0905995414%);
    transform: translate(4.2824006392%, 0.2440749963%);
  }
  8% {
    clip-path: polygon(0% 65.6829938364%, 100% 65.6829938364%, 100% 69.5250886118%, 0% 69.5250886118%);
    transform: translate(5.6032470737%, -0.4160682428%);
  }
  10% {
    clip-path: polygon(0% 85.949523438%, 100% 85.949523438%, 100% 90.8128931357%, 0% 90.8128931357%);
    transform: translate(-4.8235193841%, -0.0416030686%);
  }
  12% {
    clip-path: polygon(0% 70.7719683878%, 100% 70.7719683878%, 100% 71.9189703071%, 0% 71.9189703071%);
    transform: translate(-5.988662859%, -0.1638850635%);
  }
  14% {
    clip-path: polygon(0% 88.1522857466%, 100% 88.1522857466%, 100% 92.6898187959%, 0% 92.6898187959%);
    transform: translate(2.9382518614%, 0.0268133046%);
  }
  16% {
    clip-path: polygon(0% 45.4511760794%, 100% 45.4511760794%, 100% 49.3988168518%, 0% 49.3988168518%);
    transform: translate(5.6847000747%, -0.4596506937%);
  }
  18% {
    clip-path: polygon(0% 37.1758431292%, 100% 37.1758431292%, 100% 44.5961061221%, 0% 44.5961061221%);
    transform: translate(-6.2889046352%, 0.004143855%);
  }
  20%, 100% {
    clip-path: none;
    transform: none;
  }
}

.glitch::after {
  animation: glitch-after 3s linear infinite alternate both;
  content: "";
}

@keyframes glitch-after {
  0% {
    clip-path: polygon(0% 67.4431308628%, 100% 67.4431308628%, 100% 74.5017839187%, 0% 74.5017839187%);
    transform: translate(-3.5554746045%, -0.2526515927%);
  }
  2% {
    clip-path: polygon(0% 74.5238542992%, 100% 74.5238542992%, 100% 76.5015269593%, 0% 76.5015269593%);
    transform: translate(3.372309668%, -0.2686865828%);
  }
  4% {
    clip-path: polygon(0% 11.0609532864%, 100% 11.0609532864%, 100% 19.2502571811%, 0% 19.2502571811%);
    transform: translate(-2.8815641185%, -0.4210944727%);
  }
  6% {
    clip-path: polygon(0% 86.6825870307%, 100% 86.6825870307%, 100% 90.1999835771%, 0% 90.1999835771%);
    transform: translate(6.8295428478%, 0.3915913472%);
  }
  8% {
    clip-path: polygon(0% 16.3086049253%, 100% 16.3086049253%, 100% 22.6743193454%, 0% 22.6743193454%);
    transform: translate(4.6859655084%, -0.37709316%);
  }
  10% {
    clip-path: polygon(0% 58.3010792135%, 100% 58.3010792135%, 100% 63.6598778125%, 0% 63.6598778125%);
    transform: translate(-5.0424786695%, -0.2652468194%);
  }
  12% {
    clip-path: polygon(0% 33.2693406812%, 100% 33.2693406812%, 100% 37.0163906767%, 0% 37.0163906767%);
    transform: translate(-0.6939022213%, 0.3241314777%);
  }
  14% {
    clip-path: polygon(0% 46.9219115315%, 100% 46.9219115315%, 100% 52.7643726182%, 0% 52.7643726182%);
    transform: translate(-5.3626419979%, 0.3256892492%);
  }
  16% {
    clip-path: polygon(0% 60.5079567421%, 100% 60.5079567421%, 100% 68.2432729926%, 0% 68.2432729926%);
    transform: translate(-5.626699042%, -0.1211450125%);
  }
  18% {
    clip-path: polygon(0% 31.4301049686%, 100% 31.4301049686%, 100% 33.8496502176%, 0% 33.8496502176%);
    transform: translate(-0.1356753348%, -0.0166963124%);
  }
  20%, 100% {
    clip-path: none;
    transform: none;
  }
}

.element-with-video-bg.jquery-background-video-wrapper video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

